# Composer dependencies
/vendor/

# Laravel
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# WordPress (general)
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/
wp-content/aiowps_backups/
wp-content/plugins/
wp-content/themes/

# Generic PHP
*.log
*.cache
*.tmp
*.swp
*.swo

# IDE settings
.DS_Store
Thumbs.db
.idea/
.vscode/
